In [12]:
import sqlite3
import pandas as pd
import os

#### Create a connection to database file

In [9]:
# Create a connection to a new or existing database file
connection = sqlite3.connect("tornado_tracks.db")

print("Connected:", connection)

Connected: <sqlite3.Connection object at 0x00000177465454E0>

#### Load tables from CSV files

In [15]:
weather_detail = pd.read_csv("../Datasets/Clean Files/weather_detail_cleaned.csv")
weather_detail.to_sql("weather_detail", connection, if_exists="replace", index=False)

17723

In [20]:
tornado_tracks = pd.read_csv("../Datasets/Clean Files/tornado_tracks_combined_cleaned.csv")
tornado_tracks.to_sql("tornado_tracks", connection, if_exists="replace", index=False)

530

In [21]:
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection)

             name
0  weather_detail
1  tornado_tracks

In [23]:
pd.read_sql("SELECT * FROM weather_detail LIMIT 5;", connection)

,STATION,NAME,BEGIN_LAT,BEGIN_LON,ELEVATION,DATE,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5,Zip
0,USW00013810,"LOUISVILLE BOWMAN FIELD, KY US",38.23021,-85.66294,164.6,1/1/2015,8.05,0.00,0.0,0.0,40.0,22.0,230.0,250.0,19.9,23.9,40041
1,USC00154955,"LOUISVILLE MCALPINE, KY US",38.27780,-85.79180,134.1,1/1/2015,0.00,0.00,0.0,0.0,28.0,20.0,0.0,0.0,0.0,0.0,40212
2,USC00150630,"BERNHEIM FOREST, KY US",37.91610,-85.65720,167.6,1/1/2015,0.00,0.02,0.0,0.0,41.0,16.0,0.0,0.0,0.0,0.0,40110
3,USC00154958,"LOUISVILLE WEATHER FORECAST OFFICE, KY US",38.11510,-85.64450,192.6,1/1/2015,0.00,0.00,0.0,0.0,40.0,19.0,0.0,0.0,0.0,0.0,40229
4,USW00093821,"LOUISVILLE INTERNATIONAL AIRPORT, KY US",38.17738,-85.73077,146.3,1/1/2015,9.17,0.00,0.0,0.0,41.0,23.0,230.0,240.0,21.0,25.1,40209

#### Close Connection

In [ ]:
# Always close your connection when you're done
connection.close()